<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Super Sightings</title>
</head>
<div class="container">
    <div class="row m-4">
        <div class="col text-center border border-dark">
            <h1><a href="/" class="text-dark">Super Sightings</a></h1>
        </div>
    </div>
    <div class="row m-4 border border-dark">
        <div class="col text-center m-3">
            <a href="supers" class="btn btn-outline-primary btn-lg">Super Persons</a>
        </div>
        <div class="col text-center m-3">
            <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
        </div>
        <div class="col text-center m-3">
            <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
        </div>
        <div class="col text-center m-3">
            <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
        </div>
        <div class="col text-center m-3">
            <a href="superpowers" class="btn btn-outline-primary btn-lg">Super Powers</a>
        </div>
        <div class="col text-center m-3">
            <a href="members" class="btn btn-outline-primary btn-lg">Members</a>
        </div>
    </div>
    <div class="row m-4 border border-dark">
        <div class="col-3 text-center m-3">
            <span class="h3">Add Member to "<th th:text="${org.name}"></th>"</span>
        </div>
        <div class="col-7 text-center m-3">
            <form action="/addMember" method="POST">
                <div class="form-group row">
                    <label for="super" class="col-3 col-form-label">
                        Super Person</label>
                    <div class="col-9">
                        <select id="super" name="super" class="form-control" >
                            <option th:each="super : ${supers}"
                                    th:value="${super.id}"
                                    th:text="${super.name}"></option>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="id" th:value="${org.id}"/>
                <button type="submit" class="btn btn-primary">
                    Add Member</button>
        </div>
    </div>
    <div class="col text-center m-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Super Person Name</th>
                    <th>Description</th>
                    <th>Super Power</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            <th:attr="super2">
                <tr th:each="super2 : ${supers2}">
                    <td th:text="${super2.id}">Super Person ID</td>
                    <td th:text="${super2.name}">Super Person Name</td>
                    <td th:text="${super2.desc}">Description</td>
                    <td th:text="${super2.power}">Super Power</td>
                    <td><a href="#" th:href="@{/deleteMember(id=${super2.id})}">Delete</a></td>
                </tr>
                </tbody>
        </table>
    </div>
</div> 